*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.booking{
	position: absolute;
	top: 3px;
	left: 18px;
	color: white;
}
.e252_3006 { 
	overflow:hidden;
}
.e252_3006 { 
	background-color:rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
	width:1440px;
	height:1367px;
	position:absolute;
}
.e252_3007 { 
	width:1440px;
	height:90px;
	position:absolute;
	left:0px;
	top:-4px;
}
.e252_3008 { 
	box-shadow:0px 4px 50px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3009 { 
	color:rgba(0, 0, 0, 1);
	width:417px;
	height:30px;
	position:absolute;
	left:165px;
	top:30px;
	font-family:Habibi;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e252_3010 { 
	color:rgb(75, 69, 69);
	width:49px;
	height:19px;
	position:absolute;
	left:710px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
}
.e252_3011 { 
	color:rgba(75, 69, 69);
	width:77px;
	height:19px;
	position:absolute;
	left:1008px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
}
.e252_3012 { 
	color:rgba(75, 69, 69);
	width:170px;
	height:19px;
	position:absolute;
	left:800px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
}
.e252_3013 { 
	color:rgba(75, 69, 69);
	width:56px;
	height:19px;
	position:absolute;
	left:1116px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
}
.e252_3014 { 
	color:rgb(75, 69, 69);
	width:5px;
	height:19px;
	position:absolute;
	left:1305px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	
}

.elogin{
	color:rgb(75, 69, 69);
	width:120x;
	height:19px;
	position:absolute;
	left:1240px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
}

.esignup{
	color:rgba(75, 69, 69);
	width:70px;
	height:19px;
	position:absolute;
	left:1323px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
}

a{
	position: relative;
	text-decoration: none;
}

a:after{
	content: "";
	position: absolute;
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

a:hover{
	color:rgb(0, 0, 0);
	font-weight: bold;
}

a:hover:after{
	width: 100%;
}

.e252_3015 { 
	width:46px;
	height:57px;
	position:absolute;
	left:98px;
	top:16px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e252_3016 { 
	width:1442px;
	height:602px;
	position:absolute;
	left:0px;
	top:86px;
}
.e252_3017 { 
	width:1442px;
	height:507px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3018 { 
	width:1440px;
	height:506px;
	position:absolute;
	left:2px;
	top:1px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e252_3019 { 
	background-color:rgba(65.87499797344208, 65.87499797344208, 65.87499797344208, 0.5400000214576721);
	width:1440px;
	height:506px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3020 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:1198px;
	height:135px;
	position:absolute;
	left:121px;
	top:208px;
	text-align:center;
	font-size: 30px;
	letter-spacing: 0;
}
.Healthy { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:1198px;
	height:135px;
	position:absolute;
	left:100px;
	top:255px;
	text-align:center;
	font-size: 64px;
	letter-spacing: 0;
}
.e252_3021 { 
	width:522px;
	height:160px;
	position:absolute;
	left:438px;
	top:442px;
}
.e252_3022 { 
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:522px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3023 { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:29px;
	position:absolute;
	left:61px;
	top:46px;
	font-family:Actor;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e252_3024 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:17px;
	position:absolute;
	left:211px;
	top:93px;
	font-family:Actor;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e252_3025 { 
	border:1px solid rgba(184.87500607967377, 212.9249945282936, 255, 1);
}
.e252_3025 { 
	width:124px;
	height:30px;
	position:absolute;
	left:199px;
	top:87px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e252_3026 { 
	width:1440px;
	height:72px;
	position:absolute;
	left:0px;
	top:1295px;
}
.e252_3027 { 
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:1440px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3028 { 
	color:rgba(255, 255, 255, 1);
	width:462px;
	height:29px;
	position:absolute;
	left:498px;
	top:21px;
	font-family:Actor;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e252_3029 { 
	width:548px;
	height:336px;
	position:absolute;
	left:800px;
	top:725px;
}
.e252_3030 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:48px;
	position:absolute;
	left:228px;
	top:0px;
	font-family:Actor;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e252_3031 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:548px;
	height:58px;
	position:absolute;
	left:0px;
	top:278px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e252_3032 { 
	color:rgba(255, 255, 255, 1);
	width:238px;
	height:24px;
	position:absolute;
	left:34px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3033 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:24px;
	position:absolute;
	left:503px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3034 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:548px;
	height:58px;
	position:absolute;
	left:0px;
	top:207px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e252_3035 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:24px;
	position:absolute;
	left:34px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3036 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:24px;
	position:absolute;
	left:503px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3037 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:548px;
	height:58px;
	position:absolute;
	left:0px;
	top:136px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e252_3038 { 
	color:rgba(255, 255, 255, 1);
	width:229px;
	height:24px;
	position:absolute;
	left:34px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3039 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:24px;
	position:absolute;
	left:503px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3040 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:548px;
	height:58px;
	position:absolute;
	left:0px;
	top:65px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e252_3041 { 
	color:rgba(255, 255, 255, 1);
	width:271px;
	height:24px;
	position:absolute;
	left:34px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3042 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:24px;
	position:absolute;
	left:503px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e252_3044 { 
	width:742px;
	height:356px;
	position:absolute;
	left:-22px;
	top:827px;
}
.e252_3045 { 
	width:742px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3046 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:716px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3046 { 
	border:1px solid rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
}
.e252_3047 { 
	width:121px;
	height:121px;
	position:absolute;
	left:151px;
	top:23px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e252_3048 { 
	color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:85px;
	height:11px;
	position:absolute;
	left:605px;
	top:144px;
	font-family:Hubballi;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e252_3049 { 
	background-color:rgba(255, 242.88749635219574, 133.87499392032623, 1);
	width:56px;
	height:31px;
	position:absolute;
	left:686px;
	top:11px;
}
.e252_3049 { 
	border:1px solid rgba(229.49999392032623, 212.91862607002258, 180.7312524318695, 1);
}
.e252_3050 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:18px;
	position:absolute;
	left:694px;
	top:18px;
	font-family:Homenaje;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e252_3051 { 
	width:382px;
	height:109px;
	position:absolute;
	left:295px;
	top:27px;
}
.e252_3052 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hubballi;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e252_3053 { 
	color:rgba(0, 0, 0, 1);
	width:185px;
	height:75px;
	position:absolute;
	left:6px;
	top:34px;
	font-family:Hubballi;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e252_3054 { 
	width:742px;
	height:168px;
	position:absolute;
	left:0px;
	top:188px;
}
.e252_3055 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:716px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3055 { 
	border:1px solid rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
}
.e252_3056 { 
	color:rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:85px;
	height:11px;
	position:absolute;
	left:605px;
	top:144px;
	font-family:Hubballi;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e252_3057 { 
	background-color:rgba(255, 242.88749635219574, 133.87499392032623, 1);
	width:56px;
	height:31px;
	position:absolute;
	left:686px;
	top:11px;
}
.e252_3057 { 
	border:1px solid rgba(229.49999392032623, 212.91862607002258, 180.7312524318695, 1);
}
.e252_3058 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:18px;
	position:absolute;
	left:694px;
	top:18px;
	font-family:Homenaje;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e252_3059 { 
	width:121px;
	height:121px;
	position:absolute;
	left:154px;
	top:23px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e252_3060 { 
	width:328px;
	height:109px;
	position:absolute;
	left:301px;
	top:27px;
}
.e252_3061 { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hubballi;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e252_3062 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:75px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Hubballi;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e252_3064 { 
	color:rgba(0, 0, 0, 1);
	width:237px;
	height:48px;
	position:absolute;
	left:218px;
	top:740px;
	font-family:Actor;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e252_3065 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e252_3065 { 
	width:194px;
	height:0px;
	position:absolute;
	left:483px;
	top:764px;
}
.e252_3066 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e252_3066 { 
	width:194px;
	height:0px;
	position:absolute;
	left:-82px;
	top:764px;
}
.e252_3067 { 
	background-image:url(images/newspaper.png);
	width:60.08695602416992px;
	height:41.105594635009766px;
	position:absolute;
	left:137px;
	top:747px;
}
.e252_3068 { 
	background-color:rgba(0, 0, 0, 1);
	width:56.08695602416992px;
	height:41.105594635009766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e252_3069 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.826086044311523px;
	height:17.871997833251953px;
	position:absolute;
	left:15.8912935256958px;
	top:7.148794174194336px;
}
.e252_3070 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.15217399597168px;
	height:3.574399471282959px;
	position:absolute;
	left:36.45652770996094px;
	top:7.148794174194336px;
}
.e252_3071 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.15217399597168px;
	height:3.574399471282959px;
	position:absolute;
	left:36.45652770996094px;
	top:14.297588348388672px;
}
.e252_3072 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.15217399597168px;
	height:3.574399471282959px;
	position:absolute;
	left:36.45652770996094px;
	top:21.44638442993164px;
}
.e252_3073 { 
	box-shadow:0px 4px 10px rgba(23.523124158382416, 78.72762590646744, 110.50000101327896, 1);
	width:60px;
	height:0px;
	position:absolute;
	left:745px;
	top:63px;
}
.e252_3073 { 
	border:1px solid rgba(0, 0, 0, 1);
}
