@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

.main_box{
    position: fixed;
    background: url('blur-hospital.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-filter:blur(10px);
    background-size: cover;
    overflow:auto;
    height: 700px;
    width: 100%;
    overflow: auto;
}

.main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
  
    overflow: hidden;
    
}

.sidebar_menu .logo{
    position: fixed;
    width: 200px;
    height: 60px;
    background: #103449;
    text-align: center;

}
.sidebar_menu .logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 20px;
  line-height: 60px;
  text-decoration: none;
  
    
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.sidebar_menu .menu i{
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 5px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .facebook{
  position: absolute;
  left:10%;
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}

.sidebar_menu .facebook ul a{
  left:20%;
  color: white;
}

.sidebar_menu .facebook i{
  text-decoration: none;
  padding: 0 5px;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .facebook i:hover{
  color: #3b5998;
  opacity: 1;
}

#check{
  display: none;
}
.main_box .btn_one i{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s linear;  
}
 .sidebar_menu .btn_two i{
    color: #fff;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s linear;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #979899;
}

::-webkit-scrollbar-thumb {
  background: #184f6f;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e648d;
}

/*Sign-out Popup Overlay*/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
  z-index: 9999;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper2 {
  top:20%;
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper2 h2 {
	margin-top: 0;
	color: #333;
}
.wrapper2 .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper2 .close:hover {
	color: red;
}
.wrapper2 .content {
	max-height: 30%;
	overflow: auto;
}

.container1 {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}

.yes-button{
  left: 50%;;
  width: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #184f6f;
  text-align: center;
  color: white;
}

.yes-button:hover{
  cursor: pointer;
  background: #1e648d;
}

.no-button{
  left: 50%;;
  width: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(213, 79, 79);
  text-align: center;
  color: white;
}

.no-button:hover{
  cursor: pointer;
  background: rgb(241, 109, 109);
}